<!DOCTYPE html>
<html>

<head>
<title>Map your Emotions</title>
<style type="text/css">
  #footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  /* Tablet Landscape */
  @media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
  }

  /* Tabled Portrait */
  @media screen and (max-width: 768px) {
      #primary { width:100%; }
      #secondary { width:100%; margin:0; border:none; }
  }
  @media (min-device-width:600px) {
      img[data-src-600px] {
          content: attr(data-src-600px, url);
      }
  }

  @media (min-device-width:800px) {
      img[data-src-800px] {
          content: attr(data-src-800px, url);
      }
  }
  html { font-size:100%; }
  @media (min-width: 640px) { body {font-size:1rem;} } 
  @media (min-width:960px) { body {font-size:1.2rem;} } 
  @media (min-width:1100px) { body {font-size:1.5rem;} }
  @media (min-width:1300px) { body {font-size:1.1rem;} } 
</style>
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">
</head>

<body>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
<div class="container">
  <h3 align="center">Map your Emotions</h3>

  <p style="text-align:justify" text-size="1rem">Indicate how frequently you do each of the following by putting a tick mark in the proper column opposite to each item. Please feel free to respond as this purely for your consumption. If you will not honest to these items you will get a negative picture of yours. </p>  

  <form action="/cal" method="POST">
    <br><br>

    Q1. I give /ask people reasons why work is not done or why work is to be done.<br>
    <input type="radio" name="ques1" value="a" required id="q1a" class="with-gap"><label class="radioLabel" for="q1a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques1" value="b" required id="q1b" class="with-gap"><label class="radioLabel" for="q1b"> Rarely</label> &nbsp;
    <input type="radio" name="ques1" value="c" required id="q1c" class="with-gap"><label class="radioLabel" for="q1c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques1" value="d" required id="q1d" class="with-gap"><label class="radioLabel" for="q1d"> Frequently</label> &nbsp;
    <input type="radio" name="ques1" value="e" required id="q1e" class="with-gap"><label class="radioLabel" for="q1e"> Very Frequently</label> &nbsp;<br><br>

    Q2. I feel bad about something (about what someone did or said to me, or about something I did or said).<br>
    <input type="radio" name="ques2" value="a" required id="q2a" class="with-gap"><label class="radioLabel" for="q2a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques2" value="b" required id="q2b" class="with-gap"><label class="radioLabel" for="q2b"> Rarely</label> &nbsp;
    <input type="radio" name="ques2" value="c" required id="q2c" class="with-gap"><label class="radioLabel" for="q2c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques2" value="d" required id="q2d" class="with-gap"><label class="radioLabel" for="q2d"> Frequently</label> &nbsp;
    <input type="radio" name="ques2" value="e" required id="q2e" class="with-gap"><label class="radioLabel" for="q2e"> Very Frequently</label> &nbsp;<br><br>

    Q3. I expect people to do what I say.<br>
    <input type="radio" name="ques3" value="a" required id="q3a" class="with-gap"><label class="radioLabel" for="q3a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques3" value="b" required id="q3b" class="with-gap"><label class="radioLabel" for="q3b"> Rarely</label> &nbsp;
    <input type="radio" name="ques3" value="c" required id="q3c" class="with-gap"><label class="radioLabel" for="q3c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques3" value="d" required id="q3d" class="with-gap"><label class="radioLabel" for="q3d"> Frequently</label> &nbsp;
    <input type="radio" name="ques3" value="e" required id="q3e" class="with-gap"><label class="radioLabel" for="q3e"> Very Frequently</label> &nbsp;<br><br>

    Q4. I gather needed information through various means (e.g. talking to people, etc.) <br>
    <input type="radio" name="ques4" value="a" required id="q4a" class="with-gap"><label class="radioLabel" for="q4a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques4" value="b" required id="q4b" class="with-gap"><label class="radioLabel" for="q4b"> Rarely</label> &nbsp;
    <input type="radio" name="ques4" value="c" required id="q4c" class="with-gap"><label class="radioLabel" for="q4c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques4" value="d" required id="q4d" class="with-gap"><label class="radioLabel" for="q4d"> Frequently</label> &nbsp;
    <input type="radio" name="ques4" value="e" required id="q4e" class="with-gap"><label class="radioLabel" for="q4e"> Very Frequently</label> &nbsp;<br><br>

    Q5. I do what my boss says to do even if I don't want to, or even when I am not convinced.<br>
  <input type="radio" name="ques5" value="a" required id="q5a" class="with-gap"><label class="radioLabel" for="q5a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques5" value="b" required id="q5b" class="with-gap"><label class="radioLabel" for="q5b"> Rarely</label> &nbsp;
    <input type="radio" name="ques5" value="c" required id="q5c" class="with-gap"><label class="radioLabel" for="q5c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques5" value="d" required id="q5d" class="with-gap"><label class="radioLabel" for="q5d"> Frequently</label> &nbsp;
    <input type="radio" name="ques5" value="e" required id="q5e" class="with-gap"><label class="radioLabel" for="q5e"> Very Frequently</label> &nbsp;<br><br>

  Q6. I feel guilty about something (e.g. not getting a job done on time, coming in late and so on).<br>
  <input type="radio" name="ques6" value="a" required id="q6a" class="with-gap"><label class="radioLabel" for="q6a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques6" value="b" required id="q6b" class="with-gap"><label class="radioLabel" for="q6b"> Rarely</label> &nbsp;
    <input type="radio" name="ques6" value="c" required id="q6c" class="with-gap"><label class="radioLabel" for="q6c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques6" value="d" required id="q6d" class="with-gap"><label class="radioLabel" for="q6d"> Frequently</label> &nbsp;
    <input type="radio" name="ques6" value="e" required id="q6e" class="with-gap"><label class="radioLabel" for="q6e"> Very Frequently</label> &nbsp;<br><br>

  Q7. I play a hunch without bothering to gather factual data.<br>
  <input type="radio" name="ques7" value="a" required id="q7a" class="with-gap"><label class="radioLabel" for="q7a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques7" value="b" required id="q7b" class="with-gap"><label class="radioLabel" for="q7b"> Rarely</label> &nbsp;
    <input type="radio" name="ques7" value="c" required id="q7c" class="with-gap"><label class="radioLabel" for="q7c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques7" value="d" required id="q7d" class="with-gap"><label class="radioLabel" for="q7d"> Frequently</label> &nbsp;
    <input type="radio" name="ques7" value="e" required id="q7e" class="with-gap"><label class="radioLabel" for="q7e"> Very Frequently</label> &nbsp;<br><br>

  Q8. I smile at other people (co-workers, subordinates, customers, superiors, and so on).<br>
  <input type="radio" name="ques8" value="a" required id="q8a" class="with-gap"><label class="radioLabel" for="q8a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques8" value="b" required id="q8b" class="with-gap"><label class="radioLabel" for="q8b"> Rarely</label> &nbsp;
    <input type="radio" name="ques8" value="c" required id="q8c" class="with-gap"><label class="radioLabel" for="q8c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques8" value="d" required id="q8d" class="with-gap"><label class="radioLabel" for="q8d"> Frequently</label> &nbsp;
    <input type="radio" name="ques8" value="e" required id="q8e" class="with-gap"><label class="radioLabel" for="q8e"> Very Frequently</label> &nbsp;<br><br>

  Q9. I suggest that an ill person see the doctor or take the rest of the day off.<br>
  <input type="radio" name="ques9" value="a" required id="q9a" class="with-gap"><label class="radioLabel" for="q9a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques9" value="b" required id="q9b" class="with-gap"><label class="radioLabel" for="q9b"> Rarely</label> &nbsp;
    <input type="radio" name="ques9" value="c" required id="q9c" class="with-gap"><label class="radioLabel" for="q9c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques9" value="d" required id="q9d" class="with-gap"><label class="radioLabel" for="q9d"> Frequently</label> &nbsp;
    <input type="radio" name="ques9" value="e" required id="q9e" class="with-gap"><label class="radioLabel" for="q9e"> Very Frequently</label> &nbsp;<br><br>

  Q10. I insist that things be done my way.<br>
  <input type="radio" name="ques10" value="a" required id="q10a" class="with-gap"><label class="radioLabel" for="q10a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques10" value="b" required id="q10b" class="with-gap"><label class="radioLabel" for="q10b"> Rarely</label> &nbsp;
    <input type="radio" name="ques10" value="c" required id="q10c" class="with-gap"><label class="radioLabel" for="q10c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques10" value="d" required id="q10d" class="with-gap"><label class="radioLabel" for="q10d"> Frequently</label> &nbsp;
    <input type="radio" name="ques10" value="e" required id="q10e" class="with-gap"><label class="radioLabel" for="q10e"> Very Frequently</label> &nbsp;<br><br>

  Q11. I hear a voice in my head saying something like: "Those people should……………………"<br>
  <input type="radio" name="ques11" value="a" required id="q11a" class="with-gap"><label class="radioLabel" for="q11a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques11" value="b" required id="q11b" class="with-gap"><label class="radioLabel" for="q11b"> Rarely</label> &nbsp;
    <input type="radio" name="ques11" value="c" required id="q11c" class="with-gap"><label class="radioLabel" for="q11c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques11" value="d" required id="q11d" class="with-gap"><label class="radioLabel" for="q11d"> Frequently</label> &nbsp;
    <input type="radio" name="ques11" value="e" required id="q11e" class="with-gap"><label class="radioLabel" for="q11e"> Very Frequently</label> &nbsp;<br><br>

  Q12. When I know something won't be ready when I want it, I repeatedly ask if it might be possibly ready ahead of schedule.<br>
  <input type="radio" name="ques12" value="a" required id="q12a" class="with-gap"><label class="radioLabel" for="q12a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques12" value="b" required id="q12b" class="with-gap"><label class="radioLabel" for="q12b"> Rarely</label> &nbsp;
    <input type="radio" name="ques12" value="c" required id="q12c" class="with-gap"><label class="radioLabel" for="q12c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques12" value="d" required id="q12d" class="with-gap"><label class="radioLabel" for="q12d"> Frequently</label> &nbsp;
    <input type="radio" name="ques12" value="e" required id="q12e" class="with-gap"><label class="radioLabel" for="q12e"> Very Frequently</label> &nbsp;<br><br>

  Q13. I find ways to make a boring task interesting.<br>
  <input type="radio" name="ques13" value="a" required id="q13a" class="with-gap"><label class="radioLabel" for="q13a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques13" value="b" required id="q13b" class="with-gap"><label class="radioLabel" for="q13b"> Rarely</label> &nbsp;
    <input type="radio" name="ques13" value="c" required id="q13c" class="with-gap"><label class="radioLabel" for="q13c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques13" value="d" required id="q13d" class="with-gap"><label class="radioLabel" for="q13d"> Frequently</label> &nbsp;
    <input type="radio" name="ques13" value="e" required id="q13e" class="with-gap"><label class="radioLabel" for="q13e"> Very Frequently</label> &nbsp;<br><br>

  Q14. I attend discussions, programs, seminars, and so on, to improve my job skills.<br>
  <input type="radio" name="ques14" value="a" required id="q14a" class="with-gap"><label class="radioLabel" for="q14a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques14" value="b" required id="q14b" class="with-gap"><label class="radioLabel" for="q14b"> Rarely</label> &nbsp;
    <input type="radio" name="ques14" value="c" required id="q14c" class="with-gap"><label class="radioLabel" for="q14c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques14" value="d" required id="q14d" class="with-gap"><label class="radioLabel" for="q14d"> Frequently</label> &nbsp;
    <input type="radio" name="ques14" value="e" required id="q14e" class="with-gap"><label class="radioLabel" for="q14e"> Very Frequently</label> &nbsp;<br><br>

  Q15. I have a feeling that something unusual is about to happen before it happens.<br>
  <input type="radio" name="ques15" value="a" required id="q15a" class="with-gap"><label class="radioLabel" for="q15a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques15" value="b" required id="q15b" class="with-gap"><label class="radioLabel" for="q15b"> Rarely</label> &nbsp;
    <input type="radio" name="ques15" value="c" required id="q15c" class="with-gap"><label class="radioLabel" for="q15c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques15" value="d" required id="q15d" class="with-gap"><label class="radioLabel" for="q15d"> Frequently</label> &nbsp;
    <input type="radio" name="ques15" value="e" required id="q15e" class="with-gap"><label class="radioLabel" for="q15e"> Very Frequently</label> &nbsp;<br><br>

  Q16. I plan ways to do things that might be considered harmful, illegal, or unethical.<br>
  <input type="radio" name="ques16" value="a" required id="q16a" class="with-gap"><label class="radioLabel" for="q16a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques16" value="b" required id="q16b" class="with-gap"><label class="radioLabel" for="q16b"> Rarely</label> &nbsp;
    <input type="radio" name="ques16" value="c" required id="q16c" class="with-gap"><label class="radioLabel" for="q16c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques16" value="d" required id="q16d" class="with-gap"><label class="radioLabel" for="q16d"> Frequently</label> &nbsp;
    <input type="radio" name="ques16" value="e" required id="q16e" class="with-gap"><label class="radioLabel" for="q16e"> Very Frequently</label> &nbsp;<br><br>

  Q17. I say or think things like: "What would you do without me?"<br>
  <input type="radio" name="ques17" value="a" required id="q17a" class="with-gap"><label class="radioLabel" for="q17a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques17" value="b" required id="q17b" class="with-gap"><label class="radioLabel" for="q17b"> Rarely</label> &nbsp;
    <input type="radio" name="ques17" value="c" required id="q17c" class="with-gap"><label class="radioLabel" for="q17c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques17" value="d" required id="q17d" class="with-gap"><label class="radioLabel" for="q17d"> Frequently</label> &nbsp;
    <input type="radio" name="ques17" value="e" required id="q17e" class="with-gap"><label class="radioLabel" for="q17e"> Very Frequently</label> &nbsp;<br><br>

  Q18. I do enjoy when walking into a friend's office or work area.<br>
  <input type="radio" name="ques18" value="a" required id="q18a" class="with-gap"><label class="radioLabel" for="q18a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques18" value="b" required id="q18b" class="with-gap"><label class="radioLabel" for="q18b"> Rarely</label> &nbsp;
    <input type="radio" name="ques18" value="c" required id="q18c" class="with-gap"><label class="radioLabel" for="q18c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques18" value="d" required id="q18d" class="with-gap"><label class="radioLabel" for="q18d"> Frequently</label> &nbsp;
    <input type="radio" name="ques18" value="e" required id="q18e" class="with-gap"><label class="radioLabel" for="q18e"> Very Frequently</label> &nbsp;<br><br>

  Q19. I correct subordinates when they fail to perform up to standard.<br>
  <input type="radio" name="ques19" value="a" required id="q19a" class="with-gap"><label class="radioLabel" for="q19a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques19" value="b" required id="q19b" class="with-gap"><label class="radioLabel" for="q19b"> Rarely</label> &nbsp;
    <input type="radio" name="ques19" value="c" required id="q19c" class="with-gap"><label class="radioLabel" for="q19c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques19" value="d" required id="q19d" class="with-gap"><label class="radioLabel" for="q19d"> Frequently</label> &nbsp;
    <input type="radio" name="ques19" value="e" required id="q19e" class="with-gap"><label class="radioLabel" for="q19e"> Very Frequently</label> &nbsp;<br><br>

  Q20. I cleverly figure out how to get my own way at someone else's expense.<br>
  <input type="radio" name="ques20" value="a" required id="q20a" class="with-gap"><label class="radioLabel" for="q20a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques20" value="b" required id="q20b" class="with-gap"><label class="radioLabel" for="q20b"> Rarely</label> &nbsp;
    <input type="radio" name="ques20" value="c" required id="q20c" class="with-gap"><label class="radioLabel" for="q20c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques20" value="d" required id="q20d" class="with-gap"><label class="radioLabel" for="q20d"> Frequently</label> &nbsp;
    <input type="radio" name="ques20" value="e" required id="q20e" class="with-gap"><label class="radioLabel" for="q20e"> Very Frequently</label> &nbsp;<br><br>

  Q21. I keep calm in an emotionally charged atmosphere.<br>
  <input type="radio" name="ques21" value="a" required id="q21a" class="with-gap"><label class="radioLabel" for="q21a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques21" value="b" required id="q21b" class="with-gap"><label class="radioLabel" for="q21b"> Rarely</label> &nbsp;
    <input type="radio" name="ques21" value="c" required id="q21c" class="with-gap"><label class="radioLabel" for="q21c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques21" value="d" required id="q21d" class="with-gap"><label class="radioLabel" for="q21d"> Frequently</label> &nbsp;
    <input type="radio" name="ques21" value="e" required id="q21e" class="with-gap"><label class="radioLabel" for="q21e"> Very Frequently</label> &nbsp;<br><br>

  Q22. I help my colleagues, subordinates, or boss by going a little out of my way to do something for them. <br>
  <input type="radio" name="ques22" value="a" required id="q22a" class="with-gap"><label class="radioLabel" for="q22a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques22" value="b" required id="q22b" class="with-gap"><label class="radioLabel" for="q22b"> Rarely</label> &nbsp;
    <input type="radio" name="ques22" value="c" required id="q22c" class="with-gap"><label class="radioLabel" for="q22c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques22" value="d" required id="q22d" class="with-gap"><label class="radioLabel" for="q22d"> Frequently</label> &nbsp;
    <input type="radio" name="ques22" value="e" required id="q22e" class="with-gap"><label class="radioLabel" for="q22e"> Very Frequently</label> &nbsp;<br><br>

  Q23. I feel hurt and go off somewhere to be by myself.<br>
  <input type="radio" name="ques23" value="a" required id="q23a" class="with-gap"><label class="radioLabel" for="q23a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques23" value="b" required id="q23b" class="with-gap"><label class="radioLabel" for="q23b"> Rarely</label> &nbsp;
    <input type="radio" name="ques23" value="c" required id="q23c" class="with-gap"><label class="radioLabel" for="q23c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques23" value="d" required id="q23d" class="with-gap"><label class="radioLabel" for="q23d"> Frequently</label> &nbsp;
    <input type="radio" name="ques23" value="e" required id="q23e" class="with-gap"><label class="radioLabel" for="q23e"> Very Frequently</label> &nbsp;<br><br>

  Q24. I put people down without thinking.<br>
  <input type="radio" name="ques24" value="a" required id="q24a" class="with-gap"><label class="radioLabel" for="q24a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques24" value="b" required id="q24b" class="with-gap"><label class="radioLabel" for="q24b"> Rarely</label> &nbsp;
    <input type="radio" name="ques24" value="c" required id="q24c" class="with-gap"><label class="radioLabel" for="q24c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques24" value="d" required id="q24d" class="with-gap"><label class="radioLabel" for="q24d"> Frequently</label> &nbsp;
    <input type="radio" name="ques24" value="e" required id="q24e" class="with-gap"><label class="radioLabel" for="q24e"> Very Frequently</label> &nbsp;<br><br>

  Q25. I take a stretch break and really enjoy the feeling of loosening up my muscles and relaxing.<br>
  <input type="radio" name="ques25" value="a" required id="q25a" class="with-gap"><label class="radioLabel" for="q25a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques25" value="b" required id="q25b" class="with-gap"><label class="radioLabel" for="q25b"> Rarely</label> &nbsp;
    <input type="radio" name="ques25" value="c" required id="q25c" class="with-gap"><label class="radioLabel" for="q25c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques25" value="d" required id="q25d" class="with-gap"><label class="radioLabel" for="q25d"> Frequently</label> &nbsp;
    <input type="radio" name="ques25" value="e" required id="q25e" class="with-gap"><label class="radioLabel" for="q25e"> Very Frequently</label> &nbsp;<br><br>

  Q26. I say "please" and "thank you".<br>
  <input type="radio" name="ques26" value="a" required id="q26a" class="with-gap"><label class="radioLabel" for="q26a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques26" value="b" required id="q26b" class="with-gap"><label class="radioLabel" for="q26b"> Rarely</label> &nbsp;
    <input type="radio" name="ques26" value="c" required id="q26c" class="with-gap"><label class="radioLabel" for="q26c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques26" value="d" required id="q26d" class="with-gap"><label class="radioLabel" for="q26d"> Frequently</label> &nbsp;
    <input type="radio" name="ques26" value="e" required id="q26e" class="with-gap"><label class="radioLabel" for="q26e"> Very Frequently</label> &nbsp;<br><br>

  Q27. I say or think things like: " I will do it for them, they can't be expected to handle it."<br>
  <input type="radio" name="ques27" value="a" required id="q27a" class="with-gap"><label class="radioLabel" for="q27a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques27" value="b" required id="q27b" class="with-gap"><label class="radioLabel" for="q27b"> Rarely</label> &nbsp;
    <input type="radio" name="ques27" value="c" required id="q27c" class="with-gap"><label class="radioLabel" for="q27c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques27" value="d" required id="q27d" class="with-gap"><label class="radioLabel" for="q27d"> Frequently</label> &nbsp;
    <input type="radio" name="ques27" value="e" required id="q27e" class="with-gap"><label class="radioLabel" for="q27e"> Very Frequently</label> &nbsp;<br><br>

  Q28. I talk about facts.<br>
  <input type="radio" name="ques28" value="a" required id="q28a" class="with-gap"><label class="radioLabel" for="q28a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques28" value="b" required id="q28b" class="with-gap"><label class="radioLabel" for="q28b"> Rarely</label> &nbsp;
    <input type="radio" name="ques28" value="c" required id="q28c" class="with-gap"><label class="radioLabel" for="q28c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques28" value="d" required id="q28d" class="with-gap"><label class="radioLabel" for="q28d"> Frequently</label> &nbsp;
    <input type="radio" name="ques28" value="e" required id="q28e" class="with-gap"><label class="radioLabel" for="q28e"> Very Frequently</label> &nbsp;<br><br>

  Q29. I take the last one of the sweets, biscuits, or other goodies left in the plate.<br>
  <input type="radio" name="ques29" value="a" required id="q29a" class="with-gap"><label class="radioLabel" for="q29a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques29" value="b" required id="q29b" class="with-gap"><label class="radioLabel" for="q29b"> Rarely</label> &nbsp;
    <input type="radio" name="ques29" value="c" required id="q29c" class="with-gap"><label class="radioLabel" for="q29c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques29" value="d" required id="q29d" class="with-gap"><label class="radioLabel" for="q29d"> Frequently</label> &nbsp;
    <input type="radio" name="ques29" value="e" required id="q29e" class="with-gap"><label class="radioLabel" for="q29e"> Very Frequently</label> &nbsp;<br><br>

  Q30. I gather necessary information and then use my sixth sense to make an accurate interpretation.<br>
  <input type="radio" name="ques30" value="a" required id="q30a" class="with-gap"><label class="radioLabel" for="q30a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques30" value="b" required id="q30b" class="with-gap"><label class="radioLabel" for="q30b"> Rarely</label> &nbsp;
    <input type="radio" name="ques30" value="c" required id="q30c" class="with-gap"><label class="radioLabel" for="q30c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques30" value="d" required id="q30d" class="with-gap"><label class="radioLabel" for="q30d"> Frequently</label> &nbsp;
    <input type="radio" name="ques30" value="e" required id="q30e" class="with-gap"><label class="radioLabel" for="q30e"> Very Frequently</label> &nbsp;<br><br>

  Q31. I help out a co-worker in an emergency.<br>
  <input type="radio" name="ques31" value="a" required id="q31a" class="with-gap"><label class="radioLabel" for="q31a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques31" value="b" required id="q31b" class="with-gap"><label class="radioLabel" for="q31b"> Rarely</label> &nbsp;
    <input type="radio" name="ques31" value="c" required id="q31c" class="with-gap"><label class="radioLabel" for="q31c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques31" value="d" required id="q31d" class="with-gap"><label class="radioLabel" for="q31d"> Frequently</label> &nbsp;
    <input type="radio" name="ques31" value="e" required id="q31e" class="with-gap"><label class="radioLabel" for="q31e"> Very Frequently</label> &nbsp;<br><br>

  Q32. I insist that others take care of themselves- for example, that they wear a coat on a windy day or carry umbrella if it looks like rain.<br>
  <input type="radio" name="ques32" value="a" required id="q32a" class="with-gap"><label class="radioLabel" for="q32a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques32" value="b" required id="q32b" class="with-gap"><label class="radioLabel" for="q32b"> Rarely</label> &nbsp;
    <input type="radio" name="ques32" value="c" required id="q32c" class="with-gap"><label class="radioLabel" for="q32c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques32" value="d" required id="q32d" class="with-gap"><label class="radioLabel" for="q32d"> Frequently</label> &nbsp;
    <input type="radio" name="ques32" value="e" required id="q32e" class="with-gap"><label class="radioLabel" for="q32e"> Very Frequently</label> &nbsp;<br><br>

  Q33. I answer the phone in a well- modulated voice, giving my name or name of the company or unit.<br>
  <input type="radio" name="ques33" value="a" required id="q33a" class="with-gap"><label class="radioLabel" for="q33a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques33" value="b" required id="q33b" class="with-gap"><label class="radioLabel" for="q33b"> Rarely</label> &nbsp;
    <input type="radio" name="ques33" value="c" required id="q33c" class="with-gap"><label class="radioLabel" for="q33c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques33" value="d" required id="q33d" class="with-gap"><label class="radioLabel" for="q33d"> Frequently</label> &nbsp;
    <input type="radio" name="ques33" value="e" required id="q33e" class="with-gap"><label class="radioLabel" for="q33e"> Very Frequently</label> &nbsp;<br><br>

  Q34. I slyly work out a way to avoid doing a job that's been assigned to me.<br>
  <input type="radio" name="ques34" value="a" required id="q34a" class="with-gap"><label class="radioLabel" for="q34a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques34" value="b" required id="q34b" class="with-gap"><label class="radioLabel" for="q34b"> Rarely</label> &nbsp;
    <input type="radio" name="ques34" value="c" required id="q34c" class="with-gap"><label class="radioLabel" for="q34c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques34" value="d" required id="q34d" class="with-gap"><label class="radioLabel" for="q34d"> Frequently</label> &nbsp;
    <input type="radio" name="ques34" value="e" required id="q34e" class="with-gap"><label class="radioLabel" for="q34e"> Very Frequently</label> &nbsp;<br><br>

  Q35. I set people straight when they aren't doing their job properly.<br>
  <input type="radio" name="ques35" value="a" required id="q35a" class="with-gap"><label class="radioLabel" for="q35a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques35" value="b" required id="q35b" class="with-gap"><label class="radioLabel" for="q35b"> Rarely</label> &nbsp;
    <input type="radio" name="ques35" value="c" required id="q35c" class="with-gap"><label class="radioLabel" for="q35c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques35" value="d" required id="q35d" class="with-gap"><label class="radioLabel" for="q35d"> Frequently</label> &nbsp;
    <input type="radio" name="ques35" value="e" required id="q35e" class="with-gap"><label class="radioLabel" for="q35e"> Very Frequently</label> &nbsp;<br><br>

  Q36. I set standards for proper performance.<br>
  <input type="radio" name="ques36" value="a" required id="q36a" class="with-gap"><label class="radioLabel" for="q36a"> Almost Never</label> &nbsp;
    <input type="radio" name="ques36" value="b" required id="q36b" class="with-gap"><label class="radioLabel" for="q36b"> Rarely</label> &nbsp;
    <input type="radio" name="ques36" value="c" required id="q36c" class="with-gap"><label class="radioLabel" for="q36c"> Sometimes</label> &nbsp;
    <input type="radio" name="ques36" value="d" required id="q36d" class="with-gap"><label class="radioLabel" for="q36d"> Frequently</label> &nbsp;
    <input type="radio" name="ques36" value="e" required id="q36e" class="with-gap"><label class="radioLabel" for="q36e"> Very Frequently</label> &nbsp;<br><br>

    <br>

    <button class="btn waves-effect waves-light" type="submit" name="submit">Submit</button>
    
  </form>
</div>
  <br><br><br><br><br>
  <style type="text/css">
    [type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
    font-size: 1.08rem !important;
}

.radioLabel{
  color: #31849b !important;
}

  </style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
</body>
</html>